body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}
h1 { 
    color: darkblue;
}
p { 
    font-size: 20px;
}
button {
  background-color: rgba(128, 115, 0, 0.562);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}
nav {
    background-color: darkblue;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover {
    color: yellow;
}
.hero{
    margin-top:50px
}
.hero h1{
    color:darkblue;
    font-size:45px;
}
.hero h2{
    color:green;
}
.hero p{
    width:60%;
    margin:auto;
    font-size:22px;
}
.hero button{
    margin: top 20px;
    background-color:orange;
    color:white;
    padding:15px 35px;
    border:none;
    border:none;
    border-radius:15px;
    font-size:20px
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,
#0f172a, #1e3a8a);
       color: white;
}
.hero {
    text-align: center;
    padding: 120px 20px;
}
.hero h1 {
    font-size: 55px;
    color: white;
}
.hero p {
    font-size: 22px;
    color: white;
}
button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid gold;
    object-fit: cover;
    margin-bottom: 20px;
}