<!DOCTYPE html>
<html lang="en"> 
<head>
     <meta charset="UTF-8">
    <title>Trinity's Python portfolio</title>
    
    <link rel="stylesheet"
href="{{ url_for ('static', 
filename='style.css') }}">
</head>
    
<body>

<!-- HERO SECTION -->
 <section class="hero">
    <h1>Hi, I'm Trinity </h1>
    <h2>I build websites that help small buainesses get customers online</h2>
     <p>
         Simple, fast, mobile-friendly websites using Python (Flask), HTML & CSS.
     </p>
      <a
href="https://wa.me/2347054119725?text=Hello%20Trinity%2C%20I20want%20a%20website" target="_blank">
         <button>Hire Me on WhatsApp</button>
     </a>
    </section>
    <!-- SERVICE -->
     <section id="service">
        <h2>My Services</h2>
        <div>
            <h3>Website Design</h3>
            <p>Fast and mobile-friendly websites for businesses.</p>
        </div>
        <div>
            <h3 Flask Web Apps</h3>
            <p>Custom Python Web applications.</p>
        </div>
        <div>
            <h3>WhatsApp Integration</h3>
            <p>Direct customer messaging system for businesses.</p>
        </div>
    </section>
    <!-- PRICING -->
     <section id="pricing">
        <h2>Pricing</h2>
        <div>
            <h3>starter Website</h3>
            <p>#10,000</p>
        </div>
        <div>
            <h3>Business Website</h3>
            <p>#25,000/p>
        </div>
        <div>
            <h3>Premium Website</h3>
            <p>#50,000</p>
        </div>
</section>
<!-- WHY ME -->
    <section id="why-me">
          <h2>Why Choose Me</h2>
        
          <p> Fast delivery</p>
          <p>Mobile-friendly designs</p>
          <p>WhatsApp Integration</p>
          <p>Clean modern websites</p>
</section>
<!-- CONTACT -->
<section id="contact">
        <h2>Contact Me</h2>
        <p>Send me a direct message on whatsApp Let's build your website today!</p>
        
        <a 
href="https://wa.me/2347054119725?text=Hello%20Trinity%2C%20I20want%20a%20website" target="_blank">
            <button>Chat on WhatsApp</button>
        </a>
        <p> Email: mountzion76753@gmail.com</p>
    </section>
    </body>
    </html>
        